<a href="https://colab.research.google.com/github/rakh12/DSProjects/blob/main/Book_Recommendation_Engine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-09-05 17:09:28--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.3.33, 104.26.2.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.3.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip.4’

book-crossings.zip. 100%[===================>]  24.88M  91.2MB/s    in 0.3s

2022-09-05 17:09:28 (91.2 MB/s) - ‘book-crossings.zip.4’ saved [26085508/26085508]

Archive:  book-crossings.zip
replace BX-Book-Ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
df_books.head()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [ ]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [ ]:
user_RatingCount = df_ratings.groupby('user')['rating'].count().reset_index().rename(columns = {'rating':'userTotalRatingCount'})
book_RatingCount = df_ratings.groupby('isbn')['rating'].count().reset_index().rename(columns = {'rating':'bookTotalRatingCount'})


df_ratings = df_ratings.merge(user_RatingCount,how='left', left_on='user', right_on='user')
df_ratings = df_ratings.merge(book_RatingCount, how='left', left_on='isbn', right_on='isbn')


df_ratings_2 =df_ratings.loc[(df_ratings['userTotalRatingCount']>=200) & (df_ratings['bookTotalRatingCount']>=100)]

In [ ]:
books_with_ratings = pd.merge(df_ratings_2, df_books, on='isbn')
books_with_ratings.head()

,user,isbn,rating,userTotalRatingCount,bookTotalRatingCount,title,author
0,277427,002542730X,10.0,497,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1,3363,002542730X,0.0,901,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
2,11676,002542730X,6.0,13602,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
3,12538,002542730X,10.0,1351,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
4,13552,002542730X,0.0,709,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner

In [ ]:
books_with_ratings_2 = books_with_ratings.drop_duplicates(['title', 'user'])

In [ ]:
books_with_ratings_pivot = pd.pivot_table(data=books_with_ratings_2, values='rating', index='title', columns='user').fillna(0)
print(books_with_ratings_pivot)

user                                                254     2276    2766    \
title
1984                                                   9.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0    10.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                2977    3363    4017    \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        7.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                4385    6242    6251    \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     7.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                6323    ...  274004  \
title                                                       ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Without Remorse                                        0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

user                                                274061  274301  274308  \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     8.0     0.0

user                                                274808  275970  277427  \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                277478  277639  278418
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

[673 rows x 888 columns]

In [ ]:
books_with_ratings_matrix = csr_matrix(books_with_ratings_pivot.values)

In [ ]:
model_knn = NearestNeighbors(algorithm='auto', metric='cosine')
model_knn.fit(books_with_ratings_matrix)

NearestNeighbors(metric='cosine')

In [ ]:
NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

NearestNeighbors(metric='cosine')

In [ ]:
def get_recommends(book = ""):

  X = books_with_ratings_pivot[books_with_ratings_pivot.index == book]
  X = X.to_numpy().reshape(1,-1)
  distances, indices = model_knn.kneighbors(X,n_neighbors=8)
  recommended_books = []
  for x in reversed(range(1,6)):
      bookrecommended = [books_with_ratings_pivot.index[indices.flatten()[x]], distances.flatten()[x]]
      recommended_books.append(bookrecommended)
  recommended_books = [book, recommended_books]
  
  return recommended_books

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
You passed the challenge! 🎉🎉🎉🎉🎉